body {
    background: #fff;
    padding-top: 10px;
    border-radius: 16px;
    font-family: 'Roboto',
        sans-serif;
}

h4 {
    text-transform: uppercase;
    color: #FF3998;
    font-size: small;
    padding-bottom: 0px;
}

a {
    color: #999999;
}

a:hover {
    color: #FF3998;
}

span {
    color: #FF8139;
    text-transform: uppercase;
}

p {
    color: #999999;
}

.additional {
    color: #777777;
    font-weight: bold;
}

.days {
    color: #888;
    text-transform: initial;
}

.uppercase {
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 0;
}

ul {
    list-style-type: none;
}

.responsive {
    width: 100%;
    max-width: 768px;
    height: auto;
}

/*mobile*/
@media (max-width: 576px) {

    body {
        padding-left: 20px;
    }

    .navigator {
        overflow: hidden;
        background-color: #333;
        position: static;
    }

    .navigator #links {
        display: none;
    }

    .navigator a {
        color: #999;
        padding: 18px 18px;
        text-decoration: none;
        font-size: 30px;
        display: block;
    }

    .navigator a.mob-icon {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    .navigator a:hover {
        background-color: #ddd;
        color: black;
    }

    h1 {
        font-size: 45px;
    }

    #features {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        gap: 0px;
        height: 100%;
        margin-bottom: 100px;
    }

    #features .intro {
        grid-row-start: 1;
        grid-column-start: 1;
        grid-row-end: 2;
        grid-column-end: 2;

    }

    #features .hero-pic {
        grid-row-start: 1;
        grid-column-start: 2;
        grid-row-end: 2;
        grid-column-end: 3;
        padding-top: 50px;
        justify-content: right;
    }

    #features .hero-pic img {
        transform: scale(2);
        object-position: top 19px left 40px;
    }


    #features .button-wrapper {
        margin-top: 50px;
    }

    #features .button {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 35px;
        padding-right: 35px;
        border-radius: 20px;
        text-decoration: none;
        color: #000;
        box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
        border: solid 3px transparent;
        background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #FF8139, #FF3939);
        background-origin: border-box;
        background-clip: content-box, border-box;
        box-shadow: 2px 1000px 1px #fff inset;
    }

    #banner {
        margin-top: 100px;
        height: 300px;
        background-image: url(assets/background.svg);
        background-color: rgb(238, 84, 84);
    }

    #banner h2 {
        font-size: 47px;
        padding-top: 100px;
        margin: 0;
        padding-left: 40px;
        color: #000;
    }

    #banner p {
        padding-left: 40px;
        font-size: 20px;
        color: #000;
    }

    #partners {
        padding-top: 100px;
        height: 150px;
    }

    #partners img {
        max-height: 48px;
        float: left;
        width: 50%;
    }

    #partners img:last-child {
        display: none;
    }

    #about {
        height: 550px;
    }

    #about .persons-block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }

    .persons-block:nth-child(n+1) {
        overflow: hidden;
    }

    #about .card {
        border: 1px solid #EEE;
        background-color: #EEEEEE;
        border-radius: 18px;
        padding-bottom: 20px;
    }

    .info {
        margin: 10px;
    }

    .info .nft-name {
        float: left;
        width: 50%;
    }

    .info .price {
        float: right;
        width: 50%;
        text-align: right;
    }

    .eth {
        float: left;
        margin-left: 30px;
    }

    #launch {
        padding-top: 40px;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        gap: 0px;
        height: 100%;
    }

    #launch .intro {
        grid-row-start: 1;
        grid-column-start: 1;
        text-align: left;
        grid-row-end: 2;
        grid-column-end: 2;
    }

    #launch .intro h5 {
        font-size: 35px;
        color: #000;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    #launch .intro p {
        font-size: 15px;
        padding-bottom: 25px;
    }

    #launch .hero-pic {
        grid-row-start: 1;
        grid-column-start: 2;
        grid-row-end: 2;
        grid-column-end: 3;
    }

    #launch .hero-pic img {
        object-position: top 10px left 40px;
    }

    #launch .button {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 25px;
        padding-right: 25px;
        border-radius: 15px;
        text-decoration: none;
        color: #000;
        box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
        border: solid 3px transparent;
        background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #FF8139, #FF3939);
        background-origin: border-box;
        background-clip: content-box, border-box;
        box-shadow: 2px 1000px 1px #fff inset;
    }

    .hr {
        border-top: 1px solid #999;
        margin: -5px;
    }

    .hr1 {
        border-top: 1px solid #999;
        margin-top: 50px;
    }

    #footer-box {
        padding-top: 50px;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        gap: 0px;
        height: 100%;
    }

    #footer-logo {
        font-size: large;
        text-align: left;
        grid-row-start: 1;
        grid-column-start: 1;
        grid-row-end: 2;
        grid-column-end: 3;
    }


    #footer-box ul {
        margin-left: 0 !important;
        padding: 0;
    }



    #footer-box ul li a {
        text-decoration: none;
        padding-inline-start: 0px;
    }

    #footer-box h6 {
        text-align: left;
        font-size: medium;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 25px;
    }

    #item>ul>li>a {
        text-transform: uppercase;
        font-weight: bold;
    }

    #item-about h6 {
        font-size: 50px;
    }

    #item-about {
        text-transform: uppercase;
        font-weight: bold;
        grid-row-start: 2;
        grid-column-start: 1;
        grid-row-end: 3;
        grid-column-end: 2;
        text-align: center;
    }

    #item-nft {
        grid-row-start: 2;
        grid-column-start: 2;
        grid-row-end: 3;
        grid-column-end: 3;
        text-align: center;
    }

    .footer-ico {
        box-sizing: border-box;
        align-content: flex-start;
        justify-content: left;
    }

    .footer-ico ul li {
        display: inline-block;
        text-decoration: none;
    }

    .footer-ico {
        margin-top: 15px;
        color: #888;
        font-size: 20px;
    }

    .copyright {
        text-align: center;
    }

    .copyright .name {
        display: none;
    }
}

/*mobile end*/

@media (max-width: 1238px) and (min-width: 500px) {
    .persons-block:last-child {
        overflow: hidden;
    }
}

@media (max-width: 926px) and (min-width: 500px) {

    #partners {
        flex-direction: column;
        row-gap: 25px;
    }

}

@media (min-width: 577px) {

    body {
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.12);
    }

    .mob-menu {
        display: none;
    }

    .container {
        margin: 50px;
    }

    header {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        gap: 0px;
        height: 100%;
    }

    header .logo {
        grid-row-start: 1;
        grid-column-start: 1;
        grid-row-end: 2;
        grid-column-end: 2;
    }

    header .navigator {
        grid-row-start: 1;
        grid-column-start: 2;
        grid-row-end: 2;
        grid-column-end: 3;
        text-align: right;
        padding-top: 10px;
    }

    header .navigator nav a {
        font-size: 20px;
        padding-left: 18px;
        padding-top: 50%;
        text-decoration: none;
    }

    #features {
        padding-top: 100px;
        display: grid;
        place-items: center;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        gap: 0px;
        height: 100%;
    }


    #features .intro {
        grid-row-start: 1;
        grid-column-start: 1;
        text-align: left;
        grid-row-end: 2;
        grid-column-end: 2;
    }

    #features .intro h1 {
        font-size: 145px;
        color: #000;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    #features .intro p {
        font-size: 25px;
        padding-bottom: 25px;
    }

    #features .hero-pic {
        grid-row-start: 1;
        grid-column-start: 2;
        grid-row-end: 2;
        grid-column-end: 3;
        text-align: center;
    }

    .intro .button {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 35px;
        padding-right: 35px;
        border-radius: 20px;
        text-decoration: none;
        color: #000;
        box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
        border: solid 3px transparent;
        background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #FF8139, #FF3939);
        background-origin: border-box;
        background-clip: content-box, border-box;
        box-shadow: 2px 1000px 1px #fff inset;
    }

    .intro .button:hover {
        box-shadow: none;
        color: white;
    }

    #banner {
        margin-top: 100px;
        height: 300px;
        background-image: url(assets/background.svg);
        background-color: white;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 25px;
    }

    #banner h2 {
        padding-top: 200px;
        padding-left: 70px;
        color: #000;
    }

    #banner p {
        padding-left: 70px;
        color: #000;
    }

    #partners {
        padding-top: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #about {
        padding-top: 100px;
        height: 500px;
    }

    #about .persons-block {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #about .card {
        border: 1px solid #EEE;
        background-color: #EEEEEE;
        border-radius: 18px;
        padding-bottom: 20px;

    }

    .info {
        margin: 10px;

    }

    .info .nft-name {
        float: left;
        width: 50%;
    }

    .info .price {
        float: right;
        width: 50%;
        text-align: right;

    }

    .eth {
        float: left;
        margin-left: 30px;
    }

    #launch {
        padding-top: 140px;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        gap: 0px;
        height: 100%;
    }

    #launch .intro {
        grid-row-start: 1;
        grid-column-start: 1;
        text-align: left;
        grid-row-end: 2;
        grid-column-end: 2;
    }

    #launch .intro h5 {
        font-size: 85px;
        color: #000;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    #launch .intro p {
        font-size: 25px;
        padding-bottom: 25px;
    }

    #launch .hero-pic {
        grid-row-start: 1;
        grid-column-start: 2;
        grid-row-end: 2;
        grid-column-end: 3;
        text-align: center;
    }

    .hr {
        border-top: 1px solid #999;
        margin: -5px;
    }

    .hr1 {
        border-top: 1px solid #999;
        margin-top: 150px;
    }

    #footer-box {
        padding-top: 100px;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    #footer-logo {
        grid-row-start: 1;
        grid-column-start: 1;
        grid-row-end: 2;
        grid-column-end: 5;
        text-align: left;
    }

    #footer-box ul {
        margin-left: 0 !important;
        padding: 0;
    }

    #footer-box ul li a {
        text-decoration: none;
        padding-inline-start: 0px;
    }

    #footer-box h6 {
        text-align: left;
        font-size: medium;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 25px;
    }

    #item>ul>li>a {
        text-transform: uppercase;
        font-weight: bold;
    }

    #item-about h6 {
        font-size: 50px;
    }

    #item-about {
        text-transform: uppercase;
        font-weight: bold;
        grid-row-start: 1;
        grid-column-start: 5;
        grid-row-end: 2;
        grid-column-end: 6;
        text-align: center;
    }

    #item-nft {
        grid-row-start: 1;
        grid-column-start: 6;
        grid-row-end: 2;
        grid-column-end: 7;
        text-align: center;
    }

    .footer-ico {
        box-sizing: border-box;
        align-content: flex-start;
        justify-content: left;
    }

    .footer-ico ul li {
        display: inline-block;
        text-decoration: none;
    }

    .footer-ico {
        margin-top: 15px;
        color: #888;
        font-size: 20px;
    }

    .copyright {
        margin-top: 100px;
        display: flex;
        justify-content: space-between;
        text-align: center;
        align-items: center;
    }

}